<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logdir" value="${basedir}${dir-separator}logs${dir-separator}" />
	<variable name="layout" value="${time:universalTime=true} [${uppercase:${level}}] ${logger}${newline}${message:withException=true:exceptionSeparator=\n\n}" />

	<targets>
		
		<target xsi:type="File" name="file"
				fileName="${logdir}log"
				archiveFileName="${logdir}log.{#}"
				archiveEvery="Day"
				archiveNumbering="Date"
				layout="${layout}" />
		<target xsi:type="ColoredConsole" name="console" layout="${layout}" />
		
	</targets>
	
	<rules>

		<logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		
	</rules>
	
</nlog>